.button {
    padding: 15px 30px;
    font-size: 18px;
    text-transform: uppercase;
}
.button.button--primary:hover {
    color: #000;
}
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1200px;
}
}

html,body{
    overflow-x: hidden;
}

.d-none,
.d-none.footer__content-bottom-wrapper.page-width {
    display: none !important;
}


a, a.button {
    font-family: 'Sarcastic Inline', sans-serif;
}
header {
    padding: 42px 0 !important;
}

.page-width {
    max-width: 1200px;
}

header ul li a.link {
    font-size: 35px;
    text-decoration: none;
    font-family: 'Sarcastic Inline', sans-serif;
    color: #fff;
}
header.header--middle-left {
    grid-template-columns: 1fr 2fr auto auto;
    padding: 15px 0 !important;
}

.button.button--primary {
    background-image: url('http://cdn.shopify.com/s/files/1/0715/3156/1246/files/btn-bg.png?v=1677357397&width=500');
    background-color: unset;
    background-size: cover;
    background-position: center;
    padding: 0px 50px;
    height: 70px;
    font-size: 38px;
}
.button.button--primary::after, 
.button.button--primary::before {
    content: '';
    background-image: url('//cdn.shopify.com/s/files/1/0715/3156/1246/files/btn-border_a3235cf4-e127-447a-8f2c-30420d10d284.png?v=1677428800&width=500');
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: unset;
    width: 30px;
    right: -14px;
    left: auto;
    height: 100%;
    z-index: 99;
    background-size: auto;
}
.button.button--primary::before {
    right: auto;
    left: -14px;
}
.button.button--primary:hover::after{
    box-shadow: unset;
}

.header-wrap {
    background-color: #020e05;
    border-bottom: 3px solid #e3c739;
}

span.header__active-menu-item, .header__menu-item:hover {
    color: #fff;
}

.header__icons .header__icon {color: #fff;}
.header__icon, .header__icon--cart .icon {
    height: 60px;
    width: 60px;
}

.header__icon span .icon {
    height: 30px;
    width: 30px;
}
.header__heading {
    margin-top: -70px;
    margin-bottom: -123px;
}

.image-bg {
    position: relative;
}

.banner__box {
    position: absolute !important;
    top: 50%;
    left: 0;
    width: 100% !important;
    transform: translateY(-50%);
}

.banner__box h2.banner__heading.h1 {
    font-size: 72px;
    color: #fff;
    line-height: 60px;
}

.banner__box {
    color: #fff;
}

.banner__box .banner__text {
    font-size: 18px;
    padding: 0 70px;
}

.banner__box h5.banner__heading {
    font-size: 45px;
    color: #e3c739;
}
button.slider-button {
    position: absolute;
}

.slideshow__text-wrapper.banner__content {
    padding: 120px 0 !important;
}
button.slider-button {
    display: none;
}
footer {
    background-color: #000 !important;
    color: #fff;
}
footer .footer__blocks-wrapper .footer-block.footer-block--menu, 
footer .footer__blocks-wrapper .footer-block:last-child 
{width: 25%;}


footer .footer__blocks-wrapper .footer-block {width: 35%;}
footer .footer__blocks-wrapper .footer-block:last-child {
    width: 15%;
}
.footer-block ul li a, .footer-block  h2.footer-block__heading {
    color: #fff !important;
    font-size: 50px;
}

.footer-block ul li a.list-menu__item {
    font-size: 18px;
    color: #ddd !important;
    font-weight: 500;
}

.footer-block ul li a.list-menu__item:hover {
    color: #fff !important;
    text-decoration: none;
}
.footer-block__details-content p {
    color: #fff;
}
.footer-block-image.center {
    flex-direction: column;
    align-items: start;
}

footer .social-wrap {
    margin-top: 30px;
}


.footer__content-bottom .footer__content-bottom-wrapper {
    color: #fff;
}

.footer__content-bottom .footer__content-bottom-wrapper>div {
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.footer__content-bottom .footer__content-bottom-wrapper>div p {
    margin: 0;
}

.footer__content-bottom .footer__content-bottom-wrapper {
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.footer__content-bottom {
    padding: 0 !important;
}
.before-footer {
    position: relative;
}

.before-footer .img-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-64%);
}

.before-footer .img-left {
    left: -200px;
}

.before-footer .img-right {
    right: -200px;
}
section.about-sec .about-img img {
    width: 100% !important;
}
section.about-sec .about-left {
    padding-right: 50px;
}
section.about-sec .about-right {
    padding-left: 50px;
}
.about-img.about-center {
    padding: 0 0px;
}

.main-title {
    max-width: 1024px;
    margin: 0 auto 80px;
    text-align: center;
}

.main-title p {
    font-size: 25px;
}

.main-title h1 {
    font-size: 90px;
    position: relative;
    display: inline-block;
    margin-top: 40px;
    line-height: 80px;
}
.main-title h1::after,
.main-title h1::before {
    content: '';
    width: 180px;
    height: 25px;
    position: absolute;
    background-image: url('https://cdn.shopify.com/s/files/1/0715/3156/1246/files/about-head-right.png?v=1677772916');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    left: calc(100% + 15px);
    transform: translateY(-50%);
}
.main-title h1::before {
    background-image: url('https://cdn.shopify.com/s/files/1/0715/3156/1246/files/about-head-left.png?v=1677772916');
    left: auto;
    right: calc(100% + 15px);
}

.main-title h1 img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
}
section.about-sec .content-wrap p {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}
section.about-sec .content-wrap{
    margin-top: 100px;
}
section.about-sec, section.collection-sec {
    padding: 100px 0;
}
section.collection-sec,
section.about-sec {
    background-image: url('https://cdn.shopify.com/s/files/1/0715/3156/1246/files/bg-white.png?v=1677507140');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
section.collection-sec .main-title h1 img {
    display: none;
}
.collection-wrap .collection-img img {
    width: 100%;
    height: auto;
}
section.collection-sec.cat-sec .main-title h1 img,
section.collection-sec.social-sec .main-title h1 img {
    display: block;
}
.cat-sec .collection-wrap .collection-img img.main-img {
    border-radius: 50%;
    height: 350px;
    width: 350px;
    object-fit: cover;
    object-position: center;
    position: relative;
    z-index: 2;
}

.cat-sec .collection-wrap .collection-img a {
    position: relative;
    display: table;
    margin: 0 auto 50px;
}

.cat-sec .collection-wrap .collection-img img.bg-img {
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: -48px;
}
.cat-sec .collection-wrap .collection-img h2 {
    font-size: 55px;
    width: 100%;
    text-align: center;
}
.cat-sec .collection-wrap .collection-img a.cat-title {text-decoration: unset;}
.social-sec a.insta-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}
.social-sec a.insta-link img.insta-logo {
    width: auto;
}

.social-sec .collection-wrap .row {
    position: relative;
}

section.product-sec {
    padding: 60px 0 80px;
    background-color: #000;
    background: url(https://cdn.shopify.com/s/files/1/0715/3156/1246/files/pro-back.png?v=1677942774) center no-repeat;
    background-size: cover;
}

section.product-sec .main-title h1, section.product-sec .main-title p {
    color: #fff;
}

.product-box .product-img img {
    width: 100%;
    height: 440px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.product-box .product-con h3 a {
    font-size: 60px;
    color: #daa520;
    text-decoration: unset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 45px;
}

.product-box .product-con .price {
    font-size: 50px;
    color: #fff;
    font-family: 'Sarcastic Inline';
}


.product-box .product-con h3 {margin-bottom: 20px;}

.product-box .product-img {
    margin-bottom: 50px;
    padding: 30px 30px;
    background: url(https://cdn.shopify.com/s/files/1/0715/3156/1246/files/pro-img.png?v=1677942773) center no-repeat #000;
    background-size: contain;
}
.product-box {
    margin-bottom: 80px;
}

section.order-sec {
    padding: 110px 0;
    background-color: #000;
    background: url(https://cdn.shopify.com/s/files/1/0715/3156/1246/files/about-bga.png?v=1678090537) center no-repeat;
    background-size: cover;
    color: #fff;
}

.cont-wrap h2 {
    color: #fff;
    font-size: 100px;
    line-height: 80px;
}

.cont-wrap p {
    font-size: 22px;
}
.order-wrap .col-12:last-child .order-inner {
    display: flex;
    flex-direction: column;
}

.order-wrap .col-12:first-child .order-inner {
    display: flex;
    flex-direction: column-reverse;
}

.order-wrap .order-inner {
    height: 100%;
    justify-content: space-between;
}

.order-wrap .col-12:first-child .order-inner .img-wrap {
    margin-top: 50px;
}

.order-wrap .col-12:last-child .order-inner .img-wrap {
    margin-bottom: 50px;
}

.order-wrap .order-inner .img-wrap img {
    width: 100%;
    height: auto;
}
section.ship-sec {
    background-image: url(https://cdn.shopify.com/s/files/1/0715/3156/1246/files/bg-white.png?v=1677507140);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px 0px 160px;
}

section.ship-sec .cont-wrap h2 {
    color: #000;
    font-size: 60px;
}

section.ship-sec .cont-wrap p {
    font-size: 22px;
    color: #000;
}

section.ship-sec .cont-wrap {
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
}

section.ship-sec .img-wrap img {
    width: auto;
    height: auto;
}

section.ship-sec .img-wrap {
    text-align: center;
}

section.ship-sec .ship-inner {
    position: relative;
    height: 100%;
}
section.ship-sec .ship-inner img.side-border {
    position: absolute;
    bottom: 0;
    left: -15px;
}
section.ship-sec .ship-wrap .col-12:first-child img.side-border {
    display: none;
}
section.ship-sec .ship-wrap {
    border-top: 3px solid #ddd;
    padding-top: 50px;
}

slideshow-component .slideshow__controls {
    border: unset;
    margin-top: -60px;
    position: relative;
    z-index: 99999;
}

slideshow-component .slideshow__controls button.slider-counter__link.slider-counter__link--dots.link {
    filter: brightness(0) invert(1);
    opacity: 0.6;
}

slideshow-component .slideshow__controls button.slider-counter__link.slider-counter__link--dots.link.slider-counter__link--active {
    filter: unset;
    opacity: 1;
}
form#ContactForm input, form#ContactForm textarea {
    border: 1px solid #000;
    height: 60px;
    padding: 15px 15px;
    font-size: 22px;
}
form#ContactForm label,
.form__label {
    display: none;
}

form#ContactForm 
 .field__input:focus~.field__label {
    top: 1px;
    left: 15px;
}
.contact {
    padding: 100px 0;
    max-width: 650px;
    text-align: center;
}

.contact button.button.button--primary {font-family: Sarcastic Inline,sans-serif;}
.field__input::placeholder,
.customer .field input::placeholder {
    opacity: 1;
}
form#ContactForm textarea {
    height: 150px;
}
.card .card__inner .card__media, .card .card__inner {
    width: 100%;
    height: auto;
    margin: 0 !important;
    background-color: transparent !important;
}

.card .card__inner .card__media .media img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    position: relative;
}

/* .card .card__inner .card__media {
    margin-bottom: 50px;
    padding: 30px;
    background: url(https://cdn.shopify.com/s/files/1/0715/3156/1246/files/pro-img.png?v=1677942773) center no-repeat #000;
    background-size: contain;
} */


.grid--3-col-desktop .grid__item {
    width: 33.33%;
    max-width: 33.33%;
    padding: 15px 5px;
}
.card__media, .card .media {
    position: relative !important;
}
.card--media .card__inner .card__content{
    display: none;
}
.collection.page-width {
    padding: 0;
}

.product-card-wrapper .card__content h3 a {
    font-size: 60px;
    color: #000;
    text-decoration: unset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 45px;
    display: block;
}


.product-card-wrapper .card__content .card__information {
    width: auto;
    overflow: hidden;
}

.product-card-wrapper .card {
    border: unset;
}

.product-card-wrapper .card__content .price {
    font-size: 50px;
    color: #009618;
    font-family: Sarcastic Inline;
}
.footer-block .footer-block__details-content p {
    font-size: 14px;
}


div.product {
    padding-top: 100px;
    padding-bottom: 50px;
}

.product .product__title h1 {
    font-size: 60px;
    color: #daa520;
    text-decoration: unset;
    display: block;
    line-height: 45px;
}

.product .price {
    font-size: 50px;
    color: #000;
    font-family: Sarcastic Inline;
    line-height: 35px;
}

.product .product__description {
    font-size: 18px;
    color: #000;
}
.product .caption-with-letter-spacing {
    font-size: 22px;
}

.product .quantity input, .product .quantity button {
    border: 1px solid #000;
    padding: 10px 10px;
}

.product .quantity input {
    margin: 0 15px;
}

.product .quantity button:hover {
    background-color: #000;
}

.product .quantity button:hover svg {
    opacity: 1;
    color: #fff;
}

.product .quantity button svg {
    width: 18px;
}
div#ProductGridContainer {
    margin-bottom: -40px;
    padding-bottom: 50px;
    padding-top: 50px;
}

div#ProductGridContainer .card {
    background-color: transparent !important;
}
price-range.facets__price .field label {
    display: none;
}

price-range.facets__price .field input, price-range.facets__price .field input:focus {
    padding: 10px 10px;
    border: 1px solid;
}
aside.facets-wrapper {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 15px;
    padding: 10px 30px;
    max-width: 315px;
}
.collection-hero__description.rte
 {
    margin: 0 auto;
    color: #fff;
    text-align: center;
    margin-bottom: 120px;
}



h1.collection-hero__title {
    margin-top: 120px;
}

.product-count-vertical.light {
    display: none;
}

.facet-filters__field h2.facet-filters__label label {
    display: none;
}

.facet-filters__field div.select {
    background-image: url(http://cdn.shopify.com/s/files/1/0715/3156/1246/files/btn-bg.png?v=1677357397&width=500);
    background-color: unset;
    background-size: cover;
    background-position: center;
    padding: 0 50px;
    height: 70px;
    position: relative;
}

.facet-filters__field div.select select {
    color: #fff;
}
.facet-filters__field div.select select option {
    color: #000;
}

.facet-filters__field div.select::after {
    content: "";
    background-image: url(//cdn.shopify.com/s/files/1/0715/3156/1246/files/btn-border_a3235cf4-e127-447a-8f2c-30420d10d284.png?v=1677428800&width=500);
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: unset;
    width: 30px;
    right: -14px;
    left: auto;
    height: 100%;
    z-index: 99;
    background-size: auto;
}

.facet-filters__field div.select::before {
    content: "";
    background-image: url(//cdn.shopify.com/s/files/1/0715/3156/1246/files/btn-border_a3235cf4-e127-447a-8f2c-30420d10d284.png?v=1677428800&width=500);
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: unset;
    width: 30px;
    right: auto;
    left: -14px;
    height: 100%;
    z-index: 99;
    background-size: auto;
}
/* .collection-hero {
    padding: 100px 0;
} */
.facet-filters__sort:focus-visible {
    outline: unset !important;
    outline-offset: unset !important;
    box-shadow: unset !important;
}
.facets-vertical.page-width {
    padding: 0 !important;
}
@media screen and (min-width: 750px){
.collection-hero {
    padding:100px 0;
}
}
.relate-wrap {
    background-image: url('https://cdn.shopify.com/s/files/1/0715/3156/1246/files/related-bg.png?v=1678693818');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.related-products .card {
    background-color: transparent !important;
}

.related-products .grid__item {
    padding: 0 15px;
}

.related-products .product-card-wrapper .card__content h3 a {
    color: #daa520;
}

.related-products .product-card-wrapper .card__content .price {
    color: #000;
}
.product-box .spr-starrating i {
    color: #fff;
    opacity: 1;
    font-size: 15px;
}
.card__content .spr-badge {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: -20px;
}

.card-information .rating {
    display: none;
}
.side-bar-custom h3 {
    font-size: 45px;
    color: #daa520;
    line-height: 41px;
    margin-bottom: 35px;
}

.side-bar-custom ul li a {
    font-size: 16px;
    text-decoration: unset;
    color: #000;
    font-family: Poppins, sans-serif;
}

.side-bar-custom ul li {
    margin-bottom: 15px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;s
}

.side-bar-custom ul {padding: 0;}
.side-bar-custom ul li span {
    font-size: 16px;
}

.side-bar-custom ul li .wrap {
    display: flex;
    align-items: center;
}

.side-bar-custom ul li .wrap img {
    width: auto;
    height: auto;
    margin-right: 10px;
}

.side-bar-custom ul li .wrap:hover img {
    opacity: 0.5;
}
.facets__heading {
    display: none;
}

.facets__summary div>span {font-size: 18px;display: flex;align-items: center;color: #000;
    font-weight: 500;text-decoration: unset;}
    .facets__summary div>span:hover{
        text-decoration: none;
    }
.facets__summary div>span::before {
    content: url(https://cdn.shopify.com/s/files/1/0715/3156/1246/files/aaside.png?v=1678701015);
    background-position: center;
    margin-right: 10px;
    line-height: 15px;
}
.title-wrap .rte {
    color: #fff;
    font-size: 16px;
    max-width: 550px;
    text-align: center;
}
body.page\.about-page section.order-sec {
    background-image: url(https://cdn.shopify.com/s/files/1/0715/3156/1246/files/abou-0back.png?v=1678703498);
}

body.page\.about-page .order-wrap .col-12:first-child .order-inner .img-wrap img, body.page\.about-page .order-wrap .col-12:last-child .order-inner .img-wrap img {
    margin-left: -120px;
    width: calc(100% + 120px);
}

body.page\.about-page .order-wrap .col-12:last-child .order-inner .img-wrap img {
    margin-left: 0;
    width: calc(100% + 105px);
}

body.page\.about-page .order-wrap .col-12:last-child .order-inner {
    padding-left: 20px;
}

body.page\.about-page .order-wrap .col-12:first-child .order-inner {
    padding-right: 20px;
}
body.page\.about-page section.order-sec {
    position: relative;
}

body.page\.about-page section.order-sec::before, body.page\.about-page section.order-sec::after {
    content: url(https://cdn.shopify.com/s/files/1/0715/3156/1246/files/about1_35ba0e65-d878-4fec-9d0e-320a864092e5.png?v=1678703550);
    position: absolute;
    top: 0;
    left: -100px;
    transform: translateY(-97%);
}

body.page\.about-page section.order-sec::after {
    content: url(https://cdn.shopify.com/s/files/1/0715/3156/1246/files/about2_6b9b33bc-6a40-4ec7-a850-4b09f3c7ade8.png?v=1678703550);
    left: auto;
    right: -100px;
}


section.faq-sec h2.accordion-header button {
    font-size: 22px;
    font-family: var(--bs-font-sans-serif);
    border: none !important;
    box-sizing: unset !important;
    width: auto;
}

section.faq-sec .accordion-body {
    font-size: 19px;
}
section.faq-sec h2.accordion-header {
    border: unset;
}

section.faq-sec .accordion-button:not(.collapsed) {
    border: unset !important;
    box-shadow: unset !important;
    background-color: transparent;
    color: unset;
}


section.faq-sec .accordion-item {
    border: 2px solid #e3c739;
    margin-bottom: 30px;
    padding: 15px;
}

section.faq-sec .accordion-item .accordion-button::after {
    display: none;
}
section.faq-sec {
    padding: 50px 0;
}
.about-page .content-wrap {
    font-size: 25px;
}

.about-page .img-wrap {
    display: flex;
}
.about-page .image-wrap {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-gap: 15px;
}

.about-page .image-wrap .inner-wrap img {
    width: 100%;
    height: auto;
}

.about-page .image-wrap .inner-wrap:nth-child(2) {
    grid-column: 2/4;
    grid-row: 2/3;
    transform: translateY(-69%);
    margin-bottom: -50%;
}

.about-page .image-wrap .inner-wrap:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
}
section.about-page {
    padding: 50px 0;
}
div.product .button.button--primary {
    font-size: 25px;
    width: 100%;
    height: 60px;
    text-transform: uppercase;
}
.relate-wrap ul.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card__content .spr-badge span.spr-badge-caption {
    display: none;
}

.card__content .spr-badge {
    height: 50px;
}

.relate-wrap {
    padding-top: 100px;
    padding-bottom: 100px;
}
.spr-starrating .spr-stars:last-child {
    display: none;
}

.spr-starrating .spr-stars svg.spr-star {
    width: 25px !important;
    height: 25px !important;
}
.spr-container h2.spr-header-title {
    font-size: 60px;
    color: #daa520;
    text-decoration: unset;
    display: block;
    line-height: 45px;
}

.spr-container .spr-summary.rte {
    font-size: 25px;
}
section.product-sec .product-box {
    margin: 0 10px;
}
div.product span.badge.price__badge-sold-out {
    font-size: 35px;
    font-family: Sarcastic Inline;
    line-height: 22px;
    font-weight: 100;
}
.spr-form {
    font-size: 20px;
}

.spr-form label {
    font-size: 20px;
    margin-bottom: 15px;
}

.spr-form input, .spr-form textarea {
    padding: 5px 10px;
    font-size: 18px;
}

.spr-form h3.spr-form-title {
    font-size: 29px;
}

.spr-form input.spr-button {
    background:  #e3c739;
    padding: 15px 40px;
    text-transform: uppercase;
}

.spr-form input.spr-button:hover {
    color: #000;
}
.spr-review-content p, .spr-review-footer a, .spr-review-header span, .spr-review-header h3 {
    font-size: 20px !important;
}

td.cart-item__details a.cart-item__name {
    font-size: 30px;
}

td.cart-item__details .product-option {font-size: 20px;}

.cart-item__price-wrapper span.price {
    font-size: 24px;
}
.cart-items thead th {
    font-size: 20px;
}


span.menu-burger {
    font-size: 30px;
    color: #fff;
}