a.button.button--primary:hover {
    color: #000;
}
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1200px;
}
}

html,body{
    overflow-x: hidden;
}

.d-none,
.d-none.footer__content-bottom-wrapper.page-width {
    display: none !important;
}


a, a.button {
    font-family: 'Sarcastic Inline', sans-serif;
}
header {
    padding: 42px 0 !important;
}

.page-width {
    max-width: 1200px;
}

header ul li a.link {
    font-size: 35px;
    text-decoration: none;
    font-family: 'Sarcastic Inline', sans-serif;
    color: #fff;
}
header.header--middle-left {
    grid-template-columns: 1fr 2fr auto auto;
    padding: 15px 0 !important;
}

a.button.button--primary {
    background-image: url('http://cdn.shopify.com/s/files/1/0715/3156/1246/files/btn-bg.png?v=1677357397&width=500');
    background-color: unset;
    background-size: cover;
    background-position: center;
    padding: 0px 50px;
    height: 70px;
    font-size: 38px;
}
a.button.button--primary::after, 
a.button.button--primary::before {
    content: '';
    background-image: url('//cdn.shopify.com/s/files/1/0715/3156/1246/files/btn-border_a3235cf4-e127-447a-8f2c-30420d10d284.png?v=1677428800&width=500');
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: unset;
    width: 30px;
    right: -14px;
    left: auto;
    height: 100%;
    z-index: 99;
    background-size: auto;
}
a.button.button--primary::before {
    right: auto;
    left: -14px;
}
a.button.button--primary:hover::after{
    box-shadow: unset;
}

.header-wrap {
    background-color: #020e05;
    border-bottom: 3px solid #e3c739;
}

span.header__active-menu-item, .header__menu-item:hover {
    color: #fff;
}

.header__icons .header__icon {color: #fff;}
.header__icon, .header__icon--cart .icon {
    height: 60px;
    width: 60px;
}

.header__icon span .icon {
    height: 30px;
    width: 30px;
}
.header__heading {
    margin-top: -70px;
    margin-bottom: -123px;
}

.image-bg {
    position: relative;
}

.banner__box {
    position: absolute !important;
    top: 50%;
    left: 0;
    width: 100% !important;
    transform: translateY(-50%);
}

.banner__box h2.banner__heading.h1 {
    font-size: 72px;
    color: #fff;
    line-height: 60px;
}

.banner__box {
    color: #fff;
}

.banner__box .banner__text {
    font-size: 18px;
    padding: 0 70px;
}

.banner__box h5.banner__heading {
    font-size: 45px;
    color: #e3c739;
}
button.slider-button {
    position: absolute;
}

.slideshow__text-wrapper.banner__content {
    padding: 120px 0 !important;
}
button.slider-button {
    display: none;
}
footer {
    background-color: #000 !important;
    color: #fff;
}
footer .footer__blocks-wrapper .footer-block.footer-block--menu, 
footer .footer__blocks-wrapper .footer-block:last-child 
{width: 25%;}


footer .footer__blocks-wrapper .footer-block {width: 35%;}
footer .footer__blocks-wrapper .footer-block:last-child {
    width: 15%;
}
.footer-block ul li a, .footer-block  h2.footer-block__heading {
    color: #fff !important;
    font-size: 50px;
}

.footer-block ul li a.list-menu__item {
    font-size: 18px;
    color: #ddd !important;
    font-weight: 500;
}

.footer-block ul li a.list-menu__item:hover {
    color: #fff !important;
    text-decoration: none;
}
.footer-block__details-content p {
    color: #fff;
}
.footer-block-image.center {
    flex-direction: column;
    align-items: start;
}

footer .social-wrap {
    margin-top: 30px;
}


.footer__content-bottom .footer__content-bottom-wrapper {
    color: #fff;
}

.footer__content-bottom .footer__content-bottom-wrapper>div {
    width: 100%;
}

.footer__content-bottom .footer__content-bottom-wrapper {
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.footer__content-bottom {
    padding: 0 !important;
}
.before-footer {
    position: relative;
}

.before-footer .img-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-64%);
}

.before-footer .img-left {
    left: -200px;
}

.before-footer .img-right {
    right: -200px;
}
section.about-sec .about-img img {
    width: 100% !important;
}
section.about-sec .about-left {
    padding-right: 50px;
}
section.about-sec .about-right {
    padding-left: 50px;
}
.about-img.about-center {
    padding: 0 0px;
}

.main-title {
    max-width: 1024px;
    margin: 0 auto 80px;
    text-align: center;
}

.main-title p {
    font-size: 25px;
}

.main-title h1 {
    font-size: 90px;
    position: relative;
    display: inline-block;
    margin-top: 40px;
    line-height: 80px;
}
.main-title h1::after,
.main-title h1::before {
    content: '';
    width: 180px;
    height: 25px;
    position: absolute;
    background-image: url('https://cdn.shopify.com/s/files/1/0715/3156/1246/files/about-head-right.png?v=1677772916');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    left: calc(100% + 15px);
    transform: translateY(-50%);
}
.main-title h1::before {
    background-image: url('https://cdn.shopify.com/s/files/1/0715/3156/1246/files/about-head-left.png?v=1677772916');
    left: auto;
    right: calc(100% + 15px);
}

.main-title h1 img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
}
section.about-sec .content-wrap p {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}
section.about-sec .content-wrap{
    margin-top: 100px;
}
section.about-sec, section.collection-sec {
    padding: 50px 0;
}
section.collection-sec,
section.about-sec {
    background-image: url('https://cdn.shopify.com/s/files/1/0715/3156/1246/files/bg-white.png?v=1677507140');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
section.collection-sec .main-title h1 img {
    display: none;
}
.collection-wrap .collection-img img {
    width: 100%;
    height: auto;
}
section.collection-sec.cat-sec .main-title h1 img,
section.collection-sec.social-sec .main-title h1 img {
    display: block;
}
.cat-sec .collection-wrap .collection-img img.main-img {
    border-radius: 50%;
    height: 350px;
    width: 350px;
    object-fit: cover;
    object-position: center;
    position: relative;
    z-index: 2;
}

.cat-sec .collection-wrap .collection-img a {
    position: relative;
    display: table;
    margin: 0 auto 50px;
}

.cat-sec .collection-wrap .collection-img img.bg-img {
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: -48px;
}
.cat-sec .collection-wrap .collection-img h2 {
    font-size: 55px;
    width: 100%;
    text-align: center;
}
.cat-sec .collection-wrap .collection-img a.cat-title {text-decoration: unset;}
.social-sec a.insta-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}
.social-sec a.insta-link img.insta-logo {
    width: auto;
}

.social-sec .collection-wrap .row {
    position: relative;
}

section.product-sec {
    padding: 60px 0 80px;
    background-color: #000;
    background: url(https://cdn.shopify.com/s/files/1/0715/3156/1246/files/pro-back.png?v=1677942774) center no-repeat;
    background-size: cover;
}

section.product-sec .main-title h1, section.product-sec .main-title p {
    color: #fff;
}

.product-box .product-img img {
    width: 100%;
    height: 440px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.product-box .product-con h3 a {
    font-size: 60px;
    color: #daa520;
    text-decoration: unset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 45px;
}

.product-box .product-con .price {
    font-size: 50px;
    color: #fff;
    font-family: 'Sarcastic Inline';
}


.product-box .product-con h3 {margin-bottom: 20px;}

.product-box .product-img {
    margin-bottom: 50px;
    padding: 30px 30px;
    background: url(https://cdn.shopify.com/s/files/1/0715/3156/1246/files/pro-img.png?v=1677942773) center no-repeat #000;
    background-size: cover;
}
.product-box {
    margin-bottom: 80px;
}

section.order-sec {
    padding: 60px 0 80px;
    background-color: #000;
    background: url(https://cdn.shopify.com/s/files/1/0715/3156/1246/files/about-bga.png?v=1678090537) center no-repeat;
    background-size: cover;
    color: #fff;
}

.cont-wrap h2 {
    color: #fff;
    font-size: 100px;
    line-height: 80px;
}

.cont-wrap p {
    font-size: 22px;
}
.order-wrap .col-12:last-child .order-inner {
    display: flex;
    flex-direction: column;
}

.order-wrap .col-12:first-child .order-inner {
    display: flex;
    flex-direction: column-reverse;
}

.order-wrap .order-inner {
    height: 100%;
    justify-content: space-between;
}

.order-wrap .col-12:first-child .order-inner .img-wrap {
    margin-top: 50px;
}

.order-wrap .col-12:last-child .order-inner .img-wrap {
    margin-bottom: 50px;
}

.order-wrap .order-inner .img-wrap img {
    width: 100%;
    height: auto;
}
section.ship-sec {
    background-image: url(https://cdn.shopify.com/s/files/1/0715/3156/1246/files/bg-white.png?v=1677507140);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px 0px;
}

section.ship-sec .cont-wrap h2 {
    color: #000;
    font-size: 60px;
}

section.ship-sec .cont-wrap p {
    font-size: 22px;
    color: #000;
}

section.ship-sec .cont-wrap {
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
}

section.ship-sec .img-wrap img {
    width: auto;
    height: auto;
}

section.ship-sec .img-wrap {
    text-align: center;
}

section.ship-sec .ship-inner {
    position: relative;
    height: 100%;
}
section.ship-sec .ship-inner img.side-border {
    position: absolute;
    bottom: 0;
    left: -15px;
}
section.ship-sec .ship-wrap .col-12:first-child img.side-border {
    display: none;
}
section.ship-sec .ship-wrap {
    border-top: 3px solid #ddd;
    padding-top: 50px;
}