@media only screen and (min-width : 100px) and (max-width : 1500px) {


}
@media only screen and (min-width : 100px) and (max-width : 1100px) {
  .product .caption-with-letter-spacing {
      font-size: 18px;
  }
  .product .product__title h1 {
    font-size: 45px;
}
  .spr-starrating .spr-stars svg.spr-star {
    width: 15px !important;
    height: 15px !important;
}
  div.product .button.button--primary {
    font-size: 18px;
    height: 45px;
}
  .spr-container h2.spr-header-title {
    font-size: 45px;
}
  .spr-summary span.spr-summary-actions-togglereviews,
  .spr-summary .spr-summary-actions-newreview,
  .spr-review-content p, .spr-review-footer a, .spr-review-header span, .spr-review-header h3,
  .spr-container .spr-summary.rte {
    font-size: 18px !important;
}
  .spr-summary  .spr-icon {
    font-size: 78%;
  }
.grid--3-col-desktop .grid__item {
    width: 50%;
    max-width: 50%;
}
  .product-card-wrapper .card__content h3 a {
    font-size: 45px;
}
  .product-card-wrapper .card__content .price {
    font-size: 40px;
    line-height: 40px;
}
section.about-page .content-wrap p {
    font-size: 20px;
}
  .main-page-title, .page-title {
    font-size: 60px !important;
}
  
.header--middle-left .header__inline-menu{
    display: none;
}
.header-wrap header {
    padding: 15px 15px !important;
}
.button.button--primary {
    padding: 0px 40px;
    height: 60px;
    font-size: 30px;
}
.header__heading-logo {
    max-width: 180px;
    width: 180px;
} 
  .banner__box h2.banner__heading.h1 {
    font-size: 50px;
    color: #fff;
    line-height: 37px;
}
.main-title h1 {
    font-size: 60px;
    line-height: 60px;
}
.main-title p,
section.about-sec .content-wrap p {
    font-size: 20px;
}

.main-title {
    margin: 0 auto 50px;
}

.product-box .product-img img {
    height: 350px;
}

  .product-box .product-con h3 a,
  section.ship-sec .cont-wrap h2 {
    font-size: 40px;
    line-height: 40px;
}

  .product-box .product-con .price {
    font-size: 40px;
}
  section.product-sec {
    padding: 50px 0 30px;
}
  
section.about-sec, 
section.collection-sec,
section.order-sec {
    padding: 50px 0;
}
  .cat-sec .collection-wrap .collection-img img.main-img {
    height: 250px;
    width: 250px;
}
  .cat-sec .collection-wrap .collection-img img.bg-img {
    bottom: -43px;
}
  .cont-wrap h2 {
    font-size: 60px;
    line-height: 60px;
}

  .cont-wrap p,
  section.ship-sec .cont-wrap p {
    font-size: 20px;
}
  section.ship-sec {
    padding: 50px 0px 100px;
}

.footer-block h2.footer-block__heading {
    font-size: 40px;
    line-height: 40px;
}

span.menu-burger{
  display: block;
}
  
.overlay-content nav.header__inline-menu {
  display: block;
}
.before-footer .img-left {
    left: 0;
    top: -20px;
}
  .before-footer .img-right {
    right: 0;
     top: -20px;
}
  .before-footer img {
    width: 90px;
}

  
}
@media only screen and (min-width : 100px) and (max-width : 900px) {
.grid--2-col-tablet .grid__item {
    width: 100%;
    padding: 0;
}

.product__media-list .product__media-item:first-child {
    display: block;
}

.product__media-list .product__media-item {
    display: none;
}
  div#ProductGridContainer {
    padding-right: 15px;
}
  .facet-filters__field div.select {
    padding: 0 30px;
    height: 50px;
}

  .grid--3-col-desktop .grid__item {
    width: 100%;
    max-width: 100%;
}
  section.about-page .content-wrap p {
    font-size: 18px;
}
  section.about-page .content-wrap{
    margin-bottom: 30px;
  }
  footer .footer__blocks-wrapper .footer-block {
    width: 50%;
}
  footer .footer__blocks-wrapper .footer-block.footer-block--menu, footer .footer__blocks-wrapper .footer-block:last-child {
    width: 50%;
}
  .footer-block ul li a.list-menu__item {
    font-size: 16px;
    line-height: 1;
}
header .header__icons,
  header .btn-wrap {
  display: none;
}
  
.overlay-content .header__icons {
    display: flex;
}
.header-wrap header {
    grid-template-columns: 1fr 1fr;
}
.header-wrap header .header__heading {
  grid-column: 1/2;
  grid-row: 1/2;
      justify-self: flex-start;
}
  .header-wrap header .menu-burger{
      grid-column: 2/3;
      grid-row: 1/2;
        justify-self: flex-end;
  }

  .main-title {
    padding: 0 15px;
}
  .main-title h1 {
    font-size: 45px;
    line-height: 40px;
}
  .main-title h1 img {
    top: -70px;
}
  .main-title h1::after, 
  .main-title h1::before {
    top: -5px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
  
  .main-title h1::before {
    right: 50%;
    transform: translateY(-50%) translateX(-50%);
}
  .main-title p, section.about-sec .content-wrap p {
    font-size: 16px;
    max-width: 500px;
        margin-left: auto;
    margin-right: auto;
}
  .about-img.about-center img {
    max-width: 300px;
            margin-left: auto;
    margin-right: auto;
        margin-bottom: 50px;
}
  .collection-wrap .collection-img {
    margin-bottom: 15px;
}

  section.collection-sec {
    padding-bottom: 30px;
}
  section.ship-sec {
    padding: 30px 0 80px;
}
  .cont-wrap p, section.ship-sec .cont-wrap p {
    font-size: 15px;
}
  section.ship-sec .ship-inner img.side-border {
    display: none;
}
    .main-page-title, .page-title {
    font-size: 45px !important;
}
}
@media only screen and (min-width : 100px) and (max-width : 500px) {
    aside.facets-wrapper {
    margin-right: 15px;
    max-width: 100%;
    margin-left: 15px;
}
  .grid--3-col-desktop .grid__item {
    width: 100%;
    max-width: 100%;
    padding: 0 15px 30px;
}
  .mobile-facets__summary span,
  .mobile-facets__summary label {
    font-size: 16px;
}
  .mobile-facets__clear-wrapper a.mobile-facets__clear {
    font-size: 18px;
}
  .mobile-facets__clear-wrapper .button.button--primary {
    font-size: 18px;
}
  h2.mobile-facets__heading {
    font-size: 30px;
}
  .title-wrap {
    min-height: 350px !important;
  }
  .about-page .image-wrap {
    grid-template-columns: 1fr;
  }

  .about-page .image-wrap .inner-wrap:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}
    .about-page .image-wrap .inner-wrap:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
          transform: translate(0);
      margin-bottom: 0%;
}
    .about-page .image-wrap .inner-wrap:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
}
.product-box .product-img {
    margin-bottom: 30px;
    padding: 70px 30px;
}
  .cont-wrap h2 {
    font-size: 45px;
    line-height: 45px;
}
  .order-wrap .order-inner .img-wrap {
    margin-top: 30px;
}
  .button.button--primary {
    padding: 0 40px;
    height: 45px;
    font-size: 25px;
}
  section.about-sec, section.collection-sec, section.order-sec {
    padding: 50px 0;
    text-align: center;
}
  section.ship-sec .ship-inner {
    padding-bottom: 30px;
}
  footer .footer__blocks-wrapper .footer-block,
  footer .footer__blocks-wrapper .footer-block.footer-block--menu, 
  footer .footer__blocks-wrapper .footer-block:last-child,
  footer .footer__blocks-wrapper .footer-block.footer-block--menu, 
  footer .footer__blocks-wrapper .footer-block:last-child
  {
      width: 100%;
    
  }

  footer {
    text-align: center;
}
  .footer-block-image, .footer-block-image.left, .footer-block-image.center, .footer-block-image.right {
    align-items: center;
}


  .footer-block ul li a.list-menu__item,
  .footer__content-bottom .footer__content-bottom-wrapper>div {
    justify-content: center;
}

  .footer__payment img {
    width: 100%;
}
  .list-social__item .icon {
    height: 2.5rem;
    width: 2.5rem;
}
  section.product-sec .product-box .product-con {
    text-align: center;
}

  section.product-sec .product-box .product-con span.spr-badge-caption {
    display: none;
}

  
}
@media only screen and (min-width : 100px) and (max-width : 800px) {


}
@media only screen and (min-width : 100px) and (max-width : 320px) {


}
